<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotherz || Guestbook</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

<section class="guestbook">
    
    <h1>Rotherz || Guestbook</h1>
        <div class="form">
            <form class="guest-form" id="guest-form">
            <label for="fname">First Name:</label>
                <br>
            <input type="text" id="fname" name="fname">
                <br>
            <label for="lname">Last Name:</label>
                <br>
            <input type="text" id="lname" name="lname">
                <br>
            <label for="message">Message:</label>
                <br>
            <textarea id="message-form" name="message" rows="4" cols="50"></textarea>
                <br>

            <button type="submit">Submit</button>
                </form>
        </div>

        <div class="messages">
        
        </div>
</section>

<script src="{{ url_for('static', filename='project.js') }}"></script>
</body>
</html>